<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>ListNews</servlet-name>
        <servlet-class>web.ListNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostMessage</servlet-name>
        <servlet-class>web.PostMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLogin</servlet-name>
        <servlet-class>web.NewLogin</servlet-class>
    </servlet>
    <servlet><servlet-name>PostBuy</servlet-name><servlet-class>web.BuyScrips</servlet-class></servlet>
    <servlet>
        <servlet-name>BuyScrips</servlet-name>
        <servlet-class>web.BuyScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellScrips</servlet-name>
        <servlet-class>web.SellScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraderHome</servlet-name>
        <servlet-class>web.TraderHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShortSellHome</servlet-name>
        <servlet-class>web.ShortSellHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowScrips</servlet-name>
        <servlet-class>web.BorrowScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShortSellScrips</servlet-name>
        <servlet-class>web.ShortSellScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyToCoverScrips</servlet-name>
        <servlet-class>web.BuyToCoverScrips</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListNews</servlet-name>
        <url-pattern>/ListNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostMessage</servlet-name>
        <url-pattern>/PostMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLogin</servlet-name>
        <url-pattern>/NewLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostBuy</servlet-name>
        <url-pattern>/PostBuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyScrips</servlet-name>
        <url-pattern>/BuyScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellScrips</servlet-name>
        <url-pattern>/SellScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraderHome</servlet-name>
        <url-pattern>/TraderHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>ShortSellHome</servlet-name><url-pattern>/ShortSellHome</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowScrips</servlet-name>
        <url-pattern>/BorrowScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShortSellScrips</servlet-name>
        <url-pattern>/ShortSellScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyToCoverScrips</servlet-name>
        <url-pattern>/BuyToCoverScrips</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
