<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <servlet>
        <servlet-name>ListNews</servlet-name>
        <servlet-class>web.ListNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostMessage</servlet-name>
        <servlet-class>web.PostMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewLogin</servlet-name>
        <servlet-class>web.NewLogin</servlet-class>
    </servlet>
    <servlet><servlet-name>PostBuy</servlet-name><servlet-class>web.BuyScrips</servlet-class></servlet>
    <servlet>
        <servlet-name>BuyScrips</servlet-name>
        <servlet-class>web.BuyScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellScrips</servlet-name>
        <servlet-class>web.SellScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraderHome</servlet-name>
        <servlet-class>web.TraderHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShortSellHome</servlet-name>
        <servlet-class>web.ShortSellHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowScrips</servlet-name>
        <servlet-class>web.BorrowScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShortSellScrips</servlet-name>
        <servlet-class>web.ShortSellScrips</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyToCoverScrips</servlet-name>
        <servlet-class>web.BuyToCoverScrips</servlet-class>
    </servlet>    
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>web.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraderServlet</servlet-name>
        <servlet-class>web.TraderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestorServlet</servlet-name>
        <servlet-class>web.InvestorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>web.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScripServlet</servlet-name>
        <servlet-class>web.AddScripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelScripServlet</servlet-name>
        <servlet-class>web.DelScripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>web.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScripServlet</servlet-name>
        <servlet-class>web.EditScripServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUserServlet</servlet-name>
        <servlet-class>web.DelUserServlet</servlet-class>
    </servlet>    
    <servlet><servlet-name>ListingServlet</servlet-name><servlet-class>web.ListingServlet</servlet-class></servlet>
    <servlet>
        <servlet-name>InvestorPortfolio</servlet-name>
        <servlet-class>web.InvestorPortfolio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>web.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraderTradeSuccess</servlet-name>
        <servlet-class>web.TraderTradeSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InvestorTradeSuccess</servlet-name>
        <servlet-class>web.InvestorTradeSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoleEmptyFailure</servlet-name>
        <servlet-class>web.RoleEmptyFailure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReUserServlet</servlet-name>
        <servlet-class>web.ReUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSuccessServlet</servlet-name>
        <servlet-class>web.AdminSuccessServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SuspiciousServlet</servlet-name>
    	<servlet-class>web.SuspiciousServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>web.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationSuccessServlet</servlet-name>
        <servlet-class>web.RegistrationSuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRedirector</servlet-name>
        <servlet-class>org.apache.cactus.server.ServletTestRedirector</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRedirector</servlet-name>
        <url-pattern>/ServletRedirector</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListNews</servlet-name>
        <url-pattern>/ListNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostMessage</servlet-name>
        <url-pattern>/PostMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewLogin</servlet-name>
        <url-pattern>/NewLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostBuy</servlet-name>
        <url-pattern>/PostBuy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyScrips</servlet-name>
        <url-pattern>/BuyScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellScrips</servlet-name>
        <url-pattern>/SellScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraderHome</servlet-name>
        <url-pattern>/TraderHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>ShortSellHome</servlet-name><url-pattern>/ShortSellHome</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowScrips</servlet-name>
        <url-pattern>/BorrowScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShortSellScrips</servlet-name>
        <url-pattern>/ShortSellScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyToCoverScrips</servlet-name>
        <url-pattern>/BuyToCoverScrips</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraderServlet</servlet-name>
        <url-pattern>/TraderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestorServlet</servlet-name>
        <url-pattern>/InvestorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScripServlet</servlet-name>
        <url-pattern>/AddScripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelScripServlet</servlet-name>
        <url-pattern>/DelScripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScripServlet</servlet-name>
        <url-pattern>/EditScripServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUserServlet</servlet-name>
        <url-pattern>/DelUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListingServlet</servlet-name>
        <url-pattern>/ListingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvestorPortfolio</servlet-name>
        <url-pattern>/InvestorPortfolio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraderTradeSuccess</servlet-name>
        <url-pattern>/TraderTradeSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>InvestorTradeSuccess</servlet-name><url-pattern>/InvestorTradeSuccess</url-pattern></servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoleEmptyFailure</servlet-name>
        <url-pattern>/RoleEmptyFailure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReUserServlet</servlet-name>
        <url-pattern>/ReUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSuccessServlet</servlet-name>
        <url-pattern>/AdminSuccessServlet</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
            <servlet-name>SuspiciousServlet</servlet-name>
            <url-pattern>/SuspiciousServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping><servlet-name>RegistrationServlet</servlet-name><url-pattern>/RegistrationServlet</url-pattern></servlet-mapping><servlet-mapping><servlet-name>RegistrationSuccessServlet</servlet-name><url-pattern>/RegistrationSuccessServlet</url-pattern></servlet-mapping><session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
